ul{
    padding: 0;
    margin: 0;  
    overflow: hidden;
    background-color: rgb(39, 38, 38);
   
}

li{
  display: inline;
}

li a{
    float: left;
    padding: 16px 16px;
    color: white;
}

li a:hover {
    background-color: rgb(6, 13, 231);
}

.dropdown {
    position: relative;
    display: inline-block;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgb(199, 136, 136);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
   
}

.dropdown-content a:hover{
    
}